@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.skill-track {
  animation: scroll-left 20s linear infinite;
  will-change: transform;
}

.skill-track:hover {
  animation-play-state: paused;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s step-end 2s infinite ;
}
